body {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

hr {
    border-top: 3px solid #000;
}

.img {
    margin-top: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profileCard {
    max-width: 330px;
    text-align: center;
    background: linear-gradient(#1a9f7f, #f59b11);
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.job {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    color: #f59b11;
    transition: 0.5s;
}